* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shadow-cm {
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 24px;
}

/* .btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #514b82;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
} */

.btn:active {
    transform: scale(0.95);
}

.btn:hover {
    opacity: 0.8;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-form-item
    .ant-form-item-label
    > label {
    color: white;
}

.Toastify__toast-container--top-right {
    color: red;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-table-wrapper
    .ant-table-pagination.ant-pagination {
    display: none;
}

.ant-menu-item:has(.active) {
    background-color: dodgerblue;
    color: white;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-carousel .slick-next::after {
    color: black;
}
